
body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #058959;
    color: white;
    text-align: left;
    width: 100vw;
    padding: 20px 20px 20px 40px;
    top: 0;
    left: 0;
}

.cat-icon {
    margin-left: 10px;
    display: inline-block;
    height: 45px;
    width: 270px;
    vertical-align: bottom;
}

#icon_img {
    height: 45px;
    width: 45px;
}
h1 {
    display: inline-block;
    margin: 0;
    font-size: 2.5em;
}

h2 {
    margin: 0;
    font-size: 2em;
}

.section_1 {
    border: none;
    border-radius: 20px;
    padding: 30px;
    margin-top: 50px;
    margin-left: 20vw;
    margin-right: 20vw;
    background-color: #f2f2f2;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.cat_image_row img{
    padding: 20px;
    width: 281px;
    height: 281px;
    max-width: 281px;
    max-height: 281px;
}

.section_2 {
    border: none;
    border-radius: 20px;
    padding: 30px;
    margin-top: 50px;
    margin-left: 20vw;
    margin-right: 20vw;
    background-color: #f2f2f2;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.cat_list_images img {
    padding: 20px;
    width: 300px;
    height: 244px;
    max-width: 281px;
    max-height: 281px;
}

.cat_hates_images img {
    padding: 20px;
    width: 400px;
    height: 320px;
    max-width: 500px;
    max-height: 300px;
}

.section_2 figcaption {
    font-size: 20px;
    text-align: justify;
}
.section_3 {
    border: none;
    border-radius: 20px;
    padding: 40px;
    margin-top: 20px;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: 10vw;
    background-color: #d2ffdd;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.section_3 form {
    padding: 20px;
    font-size: 25px;
}

.section_3 fieldset {
    border: none;
    margin-bottom: 20px;
}

.section_3 input[type="text"] {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
}

#submit-url {
    background-color: #058959;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submit-url:hover {
    background-color: #046f4a;
}

img {
    border-radius: 30px;
}

footer {
    background-color: #058959;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin: 0,0,0,0;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
}